<!DOCTYPE html>
<html lang="zn"
      xmlns:th="http://www.thymeleaf.org">
<!--页头 start-->
<head>
    <div th:replace="common/header::common_header"></div>
</head>
<body>
<div th:include="common/navbar::common_navbar"></div>
<div class="g-doc">
    <div class="n-show f-cb" id="showContent">
        <div class="img"><img id="goodImage" src="" alt=""/></div>
        <div class="cnt">
            <h2 id="goodTitle"></h2>
            <p id="goodIntro" class="summary"></p>
            <div class="price">
                <span class="v-unit">¥</span><span id="goodPrice" class="v-value"></span>
            </div>
            <div class="num">购买数量：<span id="minusNum" class="lessNum"><a>-</a></span><span
                    class="totalNum" id="allNum">1</span><span id="plusNum" class="moreNum"><a>+</a></span>
            </div>
            <shiro:user>
                <div class="oprt f-cb">
                    <a th:if="${userModel.type == false}" id="editGood" href="" class="u-btn u-btn-primary">编 辑</a>
                    <button th:if="${userModel.type == true}"  id="addToCart" class="u-btn u-btn-primary" data-id=""
                            data-title="" data-price="" onclick="addToCart()">
                        加入购物车
                    </button>
                    <span th:if="${userModel.type == true}" id="bought" class="u-btn u-btn-primary z-dis">已购买</span>
                    <span th:if="${userModel.type == true}" id="boughtPrice" class="buyprice"></span>
                </div>
            </shiro:user>
        </div>
    </div>
    <div class="m-tab m-tab-fw m-tab-simple f-cb">
        <h2>详细信息</h2>
    </div>
    <div id="goodContent" class="n-detail">
    </div>
</div>
<div th:include="common/foot::common_foot"></div>
<script type="application/javascript" src="../myjs/global.js"></script>
<script type="application/javascript" src="../myjs/sales/item.js"></script>
<!--<script type="application/javascript" src="../myjs/pageShow.js"></script>-->
</body>
</html>